<!DOCTYPE html>
<html>
<head>
    <title>Application</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
</head>
<body>
    <div id="app">
        <div class="container">
            <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="/">Home</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" href="/test">Test</a>
                                </li>
                            </ul>
                            {% if is_logged %}
                                <div style='display: flex; gap : 20px;'>
                                    <span>Ваш профиль</span>{{ is_logged['name'] }}
                                </div>
                            {% else %}
                                <ul class="navbar-nav">
                                    <a href="/signIn">
                                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H8m12 0-4 4m4-4-4-4M9 4H7a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h2"/>
                                        </svg>
                                    </a>
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </nav>
            </header>

            <main>
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>

    <script src="assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>
