<!DOCTYPE html>
<html>
<head>
    <title>Application</title>
</head>
<body >
    <h1 style='margin : 25%; transform: translate(-25%, -25%);' style="color : black;">ошибка 404. Или страница находиться в разработке</h1>
</body>

<style>
* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}
</style>

</html>